@tailwind base;
@tailwind components;
@tailwind utilities;

.categorieList ul{
  display: none;
}
.categorieList:hover ul {
  display: block;
  position: absolute;
}
.categorieList ul li:hover{
  filter:drop-shadow(16px 16px 20px rgb(97, 92, 92)) ;
}
.itemTitle{
  display: none;
  min-width: 384px;
}
.itemContainer:hover .itemTitle{
  display: block;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;

}

.cartList {
  display: none;
  position: absolute;
}

.cartInfos:hover .cartList{
  display: block;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.emptyCart{
  pointer-events: none;
}

.cartInfos:hover {
  display: flex;
}

@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}